h1{
    color: palevioletred
}
table, td {
    border: 1px solid palevioletred; 
    box-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* button {
    color: teal;
    border: 0px pink;
    border-radius: 80%;
    margin: 4px;
    padding: 4px;
    font-size: 20px;
} */

button {
    outline: none;
    border: 2px solid blanchedalmond;
    border-radius: 35%;
    padding: 8px 15px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    cursor: pointer;
    background: transparent;
    color: crimson;
  }
